# Einführung in Python

## 1) Datentypen:

In [16]:
#String/Zeichenkette:
name = "Lovelace"
print(name)
# Trivia: Anna Lovelace hat das Programmieren erfunden

Lovelace

In [17]:
#Integer/Ganze Zahl:
age = 73
print(age)

73

In [18]:
#Float/Gleitkommazahl:
size = 1.7123
print(size)

1.7123

In [19]:
#Boolian:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

## 2) Operatoren:

In [20]:
#Addition:
5+5

10

In [21]:
#Multiplikation:
age * 100

7300

In [22]:
#Addition von Variablen:
name + name

'LovelaceLovelace'

In [23]:
#Multiplikation von Variabler und String:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [24]:
#name + 10
#TypeError: must be str, not int

name + '10'

'Lovelace10'

In [25]:
#Division von Variablen:
size/age

0.023456164383561642

In [26]:
#Integer zu String umformen:
name + str(10)

'Lovelace10'

In [27]:
number_articles = "50"

In [28]:
#Typ einer Variablen anzeigen lassen:
type(number_articles)

str

In [29]:
#String zu Integer umformen:
int(number_articles)

50

## 3) Funktionen und Methoden:

In [30]:
#Funktionen enden immer auf runden Klammern!

In [31]:
#Länge eines Strings zählen:
len(name)

8

In [32]:
#String in Großbuchstaben in der Ausgabe ausgeben:
name.upper()

'LOVELACE'

In [33]:
print(name)

Lovelace

In [34]:
#String in Großbuchstaben umschreiben:
name_upper = name.upper()
print(name_upper)

LOVELACE

In [35]:
#Wie oft kommt das "e" in der Variable vor?
name.count("e")

2

In [36]:
#Teil der Variablen in der Ausgane ersetzen:
name.replace("lace", " is everywhere")

'Love is everywhere'

## 4) Listen:

In [37]:
#Liste mit mehreren Werten einer Variablen zuweisen:
names = ["Lovelace", 
         "Darwin", 
         "Curie", 
         "Hawking"]
#Tipp: innerhalb von Klammern können Zeilen umgebrochen werden
print(names)

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [38]:
#Position der Liste direkt ansteuern (0te Position wird mitgezählt):
names[2]

'Curie'

In [39]:
#Letztes Element der Liste ausgeben:
names[-1]

'Hawking'

In [40]:
#Die ersten drei Positionen ausgeben:
names[0:3]
#Achtung: 0te Position inklusive, 3te Position exklusive
#(Rückgabe: Pos. 0, 1, 2)

['Lovelace', 'Darwin', 'Curie']

In [41]:
#Liste ab 3ter Position ausgeben (Slicing):
names[2:]

['Curie', 'Hawking']

In [42]:
#Liste bis 3te Position ausgeben (Slicing):
names [:2]

['Lovelace', 'Darwin']

## 5) Dictionaries:
Key = Schlüssel, Value = Wert

In [43]:
#Dictionary anlegen:
authors_birthYears = {"Lovelace": 1882, 
                      "Darwin": 1809,
                      "Noether": 1882}
#Tipp: innerhalb von Klammern können Zeilen umgebrochen werden

In [44]:
#Position mit Wert ausgeben lassen:
authors_birthYears["Darwin"]

1809

## 6) for-Schleife:

In [45]:
#Dictionary:
names = ["Lovelace", 
         "Darwin", 
         "Curie", 
         "Hawking"]

In [46]:
#for-Schleife:
for name in names:
    print(name)

Lovelace
Darwin
Curie
Hawking

In [47]:
#Schleife mit angesetztem String:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [48]:
#Bindestriche sind Teil der Schleife (mehrfache Ausgabe):
for name in names:
    print(name + " did awesome stuff")
    print("----------")

Lovelace did awesome stuff
----------
Darwin did awesome stuff
----------
Curie did awesome stuff
----------
Hawking did awesome stuff
----------

In [49]:
#Bindestriche sind nicht mehr Teil der Schleife (einfache Ausgabe):
for name in names:
    print(name + " did awesome stuff")
print("----------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
----------

### 6.1) Dictionaries mit for-Schleife verbinden:

In [50]:
#Dictionary anlegen:
authors_birthYears = {"Lovelace": 1882, 
                      "Darwin": 1809,
                      "Noether": 1882}

In [51]:
#Keys ansehen:
authors_birthYears.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether'])

In [52]:
for author in authors_birthYears.keys():
    print(author)

Lovelace
Darwin
Noether

In [53]:
for author, birthYear in authors_birthYears.items():
    print(author + " was born in " + str(authors_birthYears[author]))

Lovelace was born in 1882
Darwin was born in 1809
Noether was born in 1882

## 7) Bedingte Anweisungen (Conditionals)

In [54]:
temp = 20
if temp > 15:
    print ("It's warm")

It's warm

In [55]:
#Ausgabe funktioniert, da:
20 > 15

True

In [56]:
#1 Bedingung:
temp = 10
if temp > 15:
    print ("It's warm")

In [57]:
#Ausgabe funktioniert nicht, da:
10 > 15

False

In [58]:
#2 Bedingungen:
temp = 20
if temp > 15:
    print ("It's warm")
else:
    print("It's cold")

It's warm

In [59]:
#2 Bedingungen:
temp = 10
if temp > 15:
    print ("It's warm")
else:
    print("It's cold")

It's cold

In [60]:
#3 Bedingungen:
temp = 20
if temp >= 25:
    print("It's hot")
elif temp > 15:
    print ("It's warm")
else:
    print("It's cold")

#elif = kurz für "else if"

It's warm